body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Roboto Flex', sans-serif;

}

h1 {
  color: #8CC0DE;
  font-family: 'Parisienne', cursive;
  font-size: 5rem;
  margin: 30px;
}

h2 {
  color: #8CC0DE;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;

}

h3 {
  color: #F4BFBF;
  font-family: 'Raleway', sans-serif;
}

h4 {
  color: #F4BFBF;
  font-family: 'Raleway', sans-serif;
  margin: 30px;
}

h5 {
  color: #8CC0DE;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
  column-count: 3;
  column-fill: balance;
}

p {
    line-height: 2;
}

hr {
  border-bottom: 6px #EAF6F6 ;
  margin: 100px auto;
  width: 10%;
}

a{
  color: #8CC0DE;
  font-family: 'Roboto Flex', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #F4BFBF;
}

.about {
  margin: auto;
  padding-right: 10%;
}

/* Logo */
.logo-img {
  height: 50px;
  width: 50px;
}

/* Containers */
.top-container {
  padding-top: 30px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  padding: 50px 0 20px;
}

/* Skills */
.intro {
  margin: auto;
  width: 30%;
}

.skill-row {
  margin: 50px auto 100px auto;
  width: 50%;
  text-align: left;
}


.h2-header:hover {
  transform: scale(1.2);
  color: #F4BFBF;
}

/* Images */
.code-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.communication-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}

/* Contact Form */
.contact-form {
  margin: 0 auto;
  width:80%; 
}

.box-padding {
  padding: 0 15px 0 0;
}

.names {
  display: table;
}

.name {
  display: table-cell;
}

/* Footer  */
.contact-message {
  margin: 40px auto 60px;
  width: 40%;
}

.copyright {
  color: #F4BFBF;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Roboto Flex', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #8CC0DE;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #F4BFBF;
  font-family: 'Roboto Flex', sans-serif;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.intro-text {
  float: right;
  text-align: right;
}

.profile-pic2 {
  float: left;
  height: 60%;
  width: 40%;
  padding-left: 10%;
  padding-right: 5%;
  animation: fadeInAnimation ease 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.profile-pic {
  height: 30%;
  width: 30%;
  animation: fadeInAnimation ease 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}